.sidebar {
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  border: 1px solid #d0d0d0;
  background: #fff;
  transform: translateX(-100%);
  transition: transform .5s;
  overflow: auto;
  z-index: 100;

  &.sidebar-js--open {
    transform: translateX(0);
  }

  &__logo-block {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 20px;
  }

  &__inner {
    width: 100%;
    min-height: 100%;
    padding: 24px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__close-btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: block;

    &__btn {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    right: 0;

    &__close-btn {
      display: block;
    }
  }
}