.advertProfile{
  .container{
    h2{
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 32px;
      font-weight: 700;
      color: #373d3f
    }
    .banner{
      width: 70%;
    }
  }
}