
.mySwiper{
  .slide__container{
    width: 100%;
    height: 87vh;
    position: relative;
    margin-bottom: 64px;
  }
  .slide__container img {
    width: 100%;
    height: calc(100% - 50px);
    filter: brightness(0.8);
    object-fit: cover;
  }

  .slide__container div{
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    left: 30px;
    max-width: 900px;
  }
  .slide__container div h3{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .slide__container div p{
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 40px;
    padding: 0 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  @media (max-width: 1450px) {
    .slide__container{
      max-width: 1200px;
    }
  }
  @media (max-width: 1200px) {
    .slide__container div h3{
      font-size: 5vw;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .slide__container div p{
      font-size: 2vw;
      font-weight: bold;
      line-height: 30px;
    }
  }

  @media (max-width: 991px) {
    .slide__container div h3{
      font-size: 5vw;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .slide__container div p{
      font-size: 3vw;
      font-weight: bold;
      line-height: 30px;
    }
  }

  @media (max-width: 575px) {

  }
  @media (max-width: 400px) {
    .slide__container div h3{
      font-size: 7vw;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .slide__container div p{
      font-size: 5vw;
      font-weight: bold;
      line-height: 30px;
    }
  }
}
