.secondaryCarousel{
  padding: 0 4px;
  width: 100%;
  height: 546px;
  .item{
    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      //background-color: rgb(175, 138, 138);
      cursor: pointer;
    }
  }
}

@media (max-width: 992px) {
  .secondaryCarousel{
    .item{
      img {
        width: 160px;
      }
    }
  }
}

@media (max-width: 575px) {
  .secondaryCarousel{
    .item{
      img {
        width: 145px;
      }
    }
  }
}